services:
  - type: web
    name: jsonhero-web-node-full
    env: docker
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: SESSION_SECRET
        value: "replace_me_secure"
